<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hoornbeeck ICT</title>
    <link rel="shortcut icon" href="~/faviconHoornbeeckICT.ico" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Opdracht_Programmeren.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="overflow-x-hidden">
    <header class="scroll flex items-center w-screen px-20 mb-5 fixed top-0 backdrop-blur-md z-50">
        <div>
            <a asp-action="Index" asp-controller="Home" ><img src="../img/logo.png" class="w-1/5 p-3"/></a>
        </div>
        <div class="flex flex-grow justify-end gap-10">
            <a asp-action="Index" asp-controller="Home" ><h1 class="font-bold text-xl">Home</h1></a>
            <a asp-action="Contact" asp-controller="Home" ><h1 class="font-bold text-xl">Contact</h1></a>
        </div>
    </header>
    <div>
        <main role="main" class="pb-border-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center font-bold py-3">
       © Copyright Hoornbeeck 2022
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/navbar.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
