@{
    ViewData["Title"] = "Home";
}

<div>
    <img class="w-screen h-screen object-cover absolute"
         src="../img/banner.jpg"
         alt="Banner Background" />

    <div class="w-full h-screen">
        <div>
            <div class="relative top-60 left-10">
                <div class="absolute top-64 text-8xl text-white opacity-70 font-bold">Hoornbeeck ICT</div>
                <button class="absolute top-96 button-home absolute text-4xl text-white font-bold p-3 px-12 rounded-xl" onclick="window.location.href='/Home/Contact'" >Contact</button>
            </div>
        </div>
    </div>
</div>

<div class="flex mt-20 mb-20 justify-center gap-20">
    <div class="h-20 w-2/12 card-top">
        <img src="../img/HTML.png" style="width: 150px;"/>
    </div>
    <div class="h-20 w-2/12 card-top">
        <img src="../img/CSS.png" style="width: 150px;"/>
    </div>
    <div class="h-20 w-2/12 card-top">
        <img src="../img/Javascript.png" style="width: 150px;"/>
    </div>
    <div class="h-20 w-2/12 card-top">
        <img src="../img/Php.png" style="width: 150px;"/>
    </div>
</div>